<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="reset.css" type="text/css">
    <title>添加学生证</title>
</head>
<body>
<div id="stylized"  class="myform">
    <form method="post" action="/doAddStudentCard">
        <h2 style="text-align: center;font-size: 40px;margin-bottom: 26px">添加学生证</h2>
        <label><span class="small">姓名</span></label>
        <input type="text" name="name"  >
        <label> <span class="small">学号</span></label>
        <input type="text" name="sno"  >
        <label> <span class="small">学校</span></label>
        <input type="text" name="school"  >
        <label> <span class="small">专业</span></label>
        <input type="text" name="professional"  >
        <label> <span class="small">性别</span></label>
        <select name="gender" style="width: 200px;margin: 2px 0 20px 10px; padding: 4px 2px">
            <option value="1">男</option>
            <option value="0">女</option>
        </select>
        <label> <span class="small">入学时间</span></label>
        <input type="datetime-local" name="startTime"  >
        <label> <span class="small">毕业时间</span></label>
        <input type="datetime-local" name="endTime"  >
        <label> <span class="small">发证时间</span></label>
        <input type="datetime-local" name="createTime"  >
        <button type="submit">添 加</button>
        <a href="/backIndex?tag=2">返回</a>
        <div class="spacer"></div>
    </form>
</div>
<div  class="msg" th:text="${message}"></div>
</body>
</html>